<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>로그인 페이지</h1>
    <!-- 데이터를 보내주기 위한 form 태그 생성 -->
    <form action="/login" method="post">
        <label>ID :</label>
        <input type="text" name="_id" placeholder="ID"><br>
        <label>PW :</label>
        <input type="password" name="_pass" placeholder="Password"><br>
        <input type="submit" value="로그인">
    </form>
</body>
</html>