<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Blog Template · Bootstrap v5.0</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/blog/">

    

    <!-- Bootstrap core CSS -->
<link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/assets/css/blog.css" rel="stylesheet">
  </head>
  <body>
    <%- include("./menu.ejs") %>

<main class="container">
  <!-- 메뉴바 밑의 검은 박스 -->
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">Title of a longer featured blog post</h1>
      <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
      <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
    </div>
  </div>

  <div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        Example table
      </h3>
      <form action="/check2" method="post">
        <div style="display : none;">
          <input type="text" name="_num" value="<%=num%>" readonly>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>점검 내용</th>
              <th>점검 사항</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>배터리양은 충분한가?</td>
              <td>
                <input type="radio" id="1" name="check1" value="t" checked/>
                <label for="1">예</label>
                <input type="radio" id="2" name="check1" value="f"/>
                <label for="2">아니오</label>
              </td>
            </tr>
            <tr>
              <td>타이어의 마모도는 괜찮은가?</td>
              <td>
                <input type="radio" id="3" name="check2" value="t" checked/>
                <label for="3">예</label>
                <input type="radio" id="4" name="check2" value="f"/>
                <label for="4">아니오</label>
              </td>
            </tr>
            <tr>
              <td>부동액의 상태는 괜찮은가?</td>
              <td>
                <input type="radio" id="5" name="check3" value="t" checked/>
                <label for="5">예</label>
                <input type="radio" id="6" name="check3" value="f"/>
                <label for="6">아니오</label>
              </td>
            </tr>
          </tbody>
        </table>
        <button type="submit" class="btn btn-lg w-100 btn-primary">제출</button>
      </form>
    </div>
  </div>

</main>

<footer class="blog-footer">
  <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>


    
  </body>
</html>
